Origin: XBian
Package: xbian-package-config-shell
Version: 2.1
Section: utils
Essential: No
Priority: optional
Architecture: armhf
Replaces: xbian-package-config
Depends: wget, bc, gettext, dialog
Conflicts: xbian-package-config
Maintainer: Koenkk <development@xbian.org>
Description: Configuration utility for XBian.
