Origin: XBian
Package: xbian-package-config-shell
Version: 2.1.6-35
Section: utils
Essential: No
Priority: optional
Architecture: armhf
Pre-Depends: anacron
Replaces: xbian-package-config
Depends: wget, bc, gettext, dialog, btrfs-tools (>=1.0-xbian), kpartx, apt-show-versions, xbian-update
Breaks: xbian-package-config-xbmc (<<1.1.3-6), xbian-package-initramfs-tools (<<1.0-2.4)
Conflicts: xbian-package-config
Maintainer: Koenkk <development@xbian.org>
Description: Configuration utility for XBian.
